<!DOCTYPE html>
<html ng-app>
  <head>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40907750-1', 'github.io');
  ga('send', 'pageview');

</script>
    <script src="js/angular-1.0.6 2/angular.js"></script>
    <script src="js/custom.js"></script>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link href="csss/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <title> City Station Code </title>
  <body ng-controller="cityCtrl">
    <div class="header">
      <h1 class="text-center muted"> Search Station Code </h1>
      <a href="" class="copyleft">Open Sourced</a>
      <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target=_blank><img src="img/cc.png" class="cc" alt="Copyleft"></a>
    </div>
    <div class="text-center search">
      <input ng-model="query" placeholder="Type Station for Station Code" class="search-box">
    </div>
    <div class="cities" >
      <ul class="row">
        <li ng-repeat="city in cities | filter:query" class="span3 alert alert-info text-center">
          {{city.City}} : {{city.StationCode}}
        </li>
      </ul>
    </div>
  </body>
</html>
