<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="js/custom.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <title> City Station Code </title>
  <body ng-controller="cityCtrl">
    <div class="header">
      <h1 class="text-center muted"> Search Station Code </h1>
      <a href="" class="copyleft">Open Sourced</a>
      <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target=_blank><img src="img/cc.png" class="cc" alt="Copyleft"></a>
    </div>
    <div class="text-center search">
      <input ng-model="query" placeholder="Type Station for Station Code" class="search-box">
    </div>
    <div class="cities" >
      <ul class="row">
        <li ng-repeat="city in cities | filter:query" class="span3 alert alert-info text-center">
          {{city.City}} : {{city.StationCode}}
        </li>
      </ul>
    </div>
  </body>
</html>
